a[href$=".pdf"] {
    color: #d00;
    text-decoration: none;
}

a[href$=".pdf"]:before
{
    content:"\f1c1";
    font-family: fontawesome;
}

body {
    grid-template-columns: 1fr min(66.6rem, 90%) 1fr;
}

body > footer {
    margin-top: 0rem;
    text-align: left;
}

aside, details, pre, progress {
    background-color: var(--bg);
    border: 0 solid var(--border);
    width: 20%
}
