@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?57482136');
    src: url('font/fontello.eot?57482136#iefix') format('embedded-opentype'),
	 url('font/fontello.woff2?57482136') format('woff2'),
	 url('font/fontello.woff?57482136') format('woff'),
	 url('font/fontello.ttf?57482136') format('truetype'),
	 url('font/fontello.svg?57482136#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  font-size: 120%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mail:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-pdf:before { content: '\f1c1'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
