</body>

<footer>
  <p align="right">
    <a href="#" align="right">Back to top ⬆</a><br/>
  </p>
  <p>
    Last update: {{ today }}
  </p>
  <p>
    Hosted on <a href="https://www.netlify.com/">Netlify</a>.<br/>
    Built with <a href="https://jinja.palletsprojects.com">Jinja</a>, <a href="https://pandoc.org/">Pandoc</a> and <a href="https://simplecss.org/">Simple.css</a>.
  </p>
</footer>

</html>
