<!doctype html>
<html lang="en" style="font-size: 15px">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Brice Colombier's personal webpage">
  <title>Brice Colombier - Associate Professor</title>
  <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
  <link rel="stylesheet" href="simple.min.css">
  <link rel="stylesheet" href="custom.css">
  <link rel="stylesheet" href="fontello.css">
  <!-- <link rel="stylesheet" href="simple.css" media="print" onload="this.media='all'; this.onload = null"> -->
  <!-- <link rel="stylesheet" href="custom.css" media="print" onload="this.media='all'; this.onload = null"> -->
  <!-- <link rel="stylesheet" href="fontello.css" media="print" onload="this.media='all'; this.onload = null"> -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css"> -->
</head>

<body id="top">
  <script data-goatcounter="https://bcolombier_fr.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  <header>
    <h1><a href="index.html" style="text-decoration: none">Brice Colombier</a></h1>
    <nav>
      <ul>
	{% if page.startswith("research") %}
	<li><a class="current" href="research.html">Research</a></li>
	{% else %}
	<li><a href="research.html">Research</a></li>
	{% endif %}
	{% if page.startswith("publications") %}
	<li><a class="current" href="publications.html">Publications</a></li>
	{% else %}
	<li><a href="publications.html">Publications</a></li>
	{% endif %}
	{% if page.startswith("seminars") %}
	<li><a class="current" href="seminars.html">Seminars / workshops</a></li>
	{% else %}
	<li><a href="seminars.html">Seminars / workshops</a></li>
	{% endif %}
	{% if page.startswith("code") %}
	<li><a class="current" href="code.html">Code</a></li>
	{% else %}
	<li><a href="code.html">Code</a></li>
	{% endif %}
	{% if page.startswith("teaching") %}
	<li><a class="current" href="teaching.html">Teaching</a></li>
	{% else %}
	<li><a href="teaching.html">Teaching</a></li>
	{% endif %}
	{% if page.startswith("popsci") %}
	<li><a class="current" href="popsci.html">Popular science</a></li>
	{% else %}
	<li><a href="popsci.html">Popular science</a></li>
	{% endif %}
      </ul>
      <ul>
	<li><a target="_blank" href="mailto:b.colombier@univ-st-etienne.fr"><i class="icon-mail"></i> b.colombier@univ-st-etienne.fr</a></li>
	<li><a target="_blank" href="https://gitlab.com/BColombier"><i class="icon-gitlab"></i> Gitlab</a></li>
	<li><a target="_blank" href="https://dblp.uni-trier.de/pers/hd/c/Colombier:Brice"><i class="icon-book"></i> DBLP</a></li>
	<li><a target="_blank" href="https://cv.hal.science/brice-colombier"><i class="icon-globe"></i> HAL</a></li>
      </ul>
    </nav>
  </header>
