  {{ header }}
  
  <main>
    <section id="Code">
      <h2>Code</h2>
      <ul>
      {% for project in code %}
      <li><a href="{{ project.url }}">{{ project.title }}</a></li>
      {{ project.description }}<br/>
      {% endfor %}
      </ul>
    </section>
  </main>

  {{ footer }}
