  {{ header }}
  
  <main>
    <p class="notice">
      <strong><mark>CASCADE</mark> Conference 2025</strong><br/>
      
      We are organizing the <a href="https://cascade-conference.org/">first edition of the CASCADE conference</a> in Saint-Étienne, France, in April 2025, which is the result of the merger of the <a href="https://www.cosade.org">COSADE</a> and <a href="https://cardis.org/">CARDIS</a> conferences.<br/>
      Here is the <a href="https://cascade-conference.org/cfp.html">Call for papers</a>, <b>feel free to submit your work</b>!
    </p>
    <section id="Intro">
      {{ index_content }}
    </section>
  </main>

  {{ footer }}
