  {{ header }}
  
  <main>
    <section id="Publications">


      <h2>Publications</h2>
      <h3>Journal articles</h3>
      {% for publi in publications|selectattr("type", "==", "journal")|sort(reverse=true, attribute="year")  %}
      <p>
      <b>{{ publi.title }}</b><br/>
      {{ publi.authors | replace(" and ", ", ") }}<br/>
      {% if publi.journal.short is defined %}
      <i>{{ publi.journal.short }}</i>
      {% else %}
      <i>{{ publi.journal }}</i>
      {% endif %}
      ({{ publi.year }})<br/>
      <a href="assets/publis_PDF/{{ publi.year }}/{{ publi.key }}.pdf"></a>
      {% if publi.DOI is defined %}
      / <a href="https://doi.org/{{ publi.DOI }}"><b>DOI</b></a>
      {% endif %}
      {% if publi.HAL is defined %}
      / <a href="https://hal.science/{{ publi.HAL }}"><b>HAL</b></a>
      {% endif %}
      </p>
      {% endfor %}
      
      <h3>Conference articles</h3>
      {% for publi in publications|selectattr("type", "==", "conference")|sort(reverse=true, attribute="month")|sort(reverse=true, attribute="year")  %}
      <p>
      <b>{{ publi.title }}</b><br/>
      {{ publi.authors | replace(" and ", ", ") }}<br/>
      {% if publi.booktitle.short is defined %}
      <i>{{ publi.booktitle.short }}</i>
      {% else %}
      <i>{{ publi.booktitle }}</i>
      {% endif %}
      ({{ publi.year }})<br/>
      <a href="assets/publis_PDF/{{ publi.year }}/{{ publi.key }}.pdf"></a>
      {% if publi.DOI is defined %}
      / <a href="https://doi.org/{{ publi.DOI }}"><b>DOI</b></a>
      {% endif %}
      {% if publi.HAL is defined %}
      / <a href="https://hal.science/{{ publi.HAL }}"><b>HAL</b></a>
      {% endif %}
      {% if publi.video is defined %}
      / <a href="{{ publi.video }}"><i class="icon-youtube"></i></a>
      {% endif %}
      </p>
      {% endfor %}
      
      <h3>Book chapters</h3>
      {% for publi in publications|selectattr("type", "==", "chapter")|sort(reverse=true, attribute="year")  %}
      <p>
      <b>{{ publi.title }}</b><br/>
      {{ publi.authors | replace(" and ", ", ") }}<br/>
      <i>{{ publi.booktitle }}</i> ({{ publi.publisher }}, {{ publi.year }})<br/>
      ({{ publi.year }})<br/>
      <a href="assets/publis_PDF/{{ publi.year }}/{{ publi.key }}.pdf"></a>
      {% if publi.DOI is defined %}
      / <a href="https://doi.org/{{ publi.DOI }}"><b>DOI</b></a>
      {% endif %}
      {% if publi.HAL is defined %}
      / <a href="https://hal.science/{{ publi.HAL }}"><b>HAL</b></a>
      {% endif %}
      </p>
      {% endfor %}
    </section>
  </main>

  {{ footer }}
