  {{ header }}
  
  <main>
    <section id="Research">
      <h2>Research</h2>
      I am interested in the following research topics:
      <ul>
	<li>Hardware security</li>
	<li>Physical attacks: side-channel and fault injection</li>
	<li>Post-quantum cryptography</li>
	<li>Applied cryptography</li>
      </ul>
      <h3>Projects</h3>
      I am or have been involved in the following research projects:
      <table>
	<tr>
	  <th>Name</th>
	  <th>Duration</th>
	  <th>Funding agency</th>
	  <th>Description</th>
	  <th>Role</th>
	</tr>
	{% for project in projects %}
	<tr>
	  {% if project.url is defined%}
	  <td><a href="{{ project.url }}">{{ project.name }}</a></td>
	  {% else %}
	  <td>{{ project.name }}</td>
	  {% endif %}
	  <td>{{ project.startDate }} - {{ project.endDate }}</td>
	  <td>{{ project.agency }}</td>
	  <td><i>{{ project.description }}</i></td>
	  <td>{{ project.role }}</td>
	</tr>
	{% endfor %}
      </table>
      <h3>PhD students supervision</h3>
      I am supervising or have supervised the following PhD students:
      <ul>
	{% for doc in doctorants|sort(attribute="familyName")|sort(reverse=true, attribute="yearStart") %}
	<li>
	  {{ doc.surname }} {{ doc.familyName }}
	  {% if doc.yearEnd %}
	  ({{ doc.yearStart }} - {{ doc.yearEnd }})
	  {% else %}
	  (started in {{ doc.yearStart }})
	  {% endif %}
	  {% if doc.supervision.coadvisors is defined %}
	  co-advised with
	  {% for coad in doc.supervision.coadvisors %}
	  {{ coad.surname }} {{ coad.familyName-}}
	  {% if not loop.last %}
	  and
	  {% else-%}
	  .<br/>
	  {% endif %}
	  {% endfor %}
	  {% endif %}
	  {% if doc.manuscript_URL %}
	  <a href="{{ doc.manuscript_URL }}"><i>{{ doc.subject.EN }}</i></a>
	  {% else %}
	  <i>{{ doc.subject.EN }}</i>
	  {% endif %}
	</li>
	{% endfor %}
      </ul>
      <h3>Bachelor / Masters students supervision</h3>
      I am supervising or have supervised the following Bachelor or Masters students:
      <ul>
	{% for stag in stagiaires|sort(attribute="familyName")|sort(reverse=true, attribute="year") %}
	<li>
	  {{ stag.surname }} {{ stag.familyName }} ({{stag.level}}, {{ stag.year }}).<br/>
	  <i>{{ stag.subject.EN }}</i>
	</li>
	{% endfor %}
      </ul>
    </section>
  </main>

  {{ footer }}
