  {{ header }}
  
  <main>
    <section id="Seminars">
      <h2>Seminars</h2>
      {% for year in publications|rejectattr("type", "==", "journal")|rejectattr("type", "==", "conference")|rejectattr("type", "==", "chapter")|map(attribute="year")|unique|sort(reverse=true) %}
      <h3>{{ year }}</h3>
      {% for publi in publications %}
      {% if publi.type in ["seminar", "demo", "poster", "workshop"] %}
      {% if publi.year == year %}
      <p>
	<b>{{ publi.title }}</b><br/>
	{{ publi.authors | replace(" and ", ", ") }}<br/>
	{% if publi.booktitle.short is defined %}
	<i>{{ publi.booktitle.short }}</i>
	{% else %}
	<i>{{ publi.booktitle }}</i>
	{% endif %}
	({{ publi.address }}) <br/>
	<a href="assets/talks_PDF/{{ publi.year }}/{{ publi.key }}.pdf"></a>
      <p>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% endfor %}      
    </section>
  </main>

  {{ footer }}
